tournamentUrl=
tournamentSeeAll=
tournamentCreateUrl=

// from old vmdev

DEV LANDING
surya@vmdev-sportiv01:/opt/spv-frontend-web$ cat .env
tournamentUrl=https://tournament.quickplay.app
tournamentCreateUrl=https://tournament.quickplay.app/tournament/form/step-1

PROD LANDING
[root@vue-u234465 spv-frontend-web]# cat .env
tournamentUrl=https://tournament.sportiv.app
tournamentSeeAll=https://tournament.sportiv.app/tournament
tournamentCreateUrl=https://tournament.sportiv.app/tournament/form/step-1