$primary: #FF7041;
$secondary: #0AB281;
$neutral: #AAAAAA;

$white: #FFFFFF;
$almost-white: #F4F4F4;
$black: #000000;
$almost-black: #303030;
$grey: #707070;
$light-grey: #707070;
$lightest-grey: #D5D5D5;
$red: #FF3333;
$yellow: #F4B718;

$hover: #ED5827;
$hover-30: rgba(237, 88, 39, 0.3);

$success: #0AB281;
$danger: #FF3333;

$default-background-color: #F7F8F9;
