$white-1: rgba(255, 255, 255, 0.40);
$white-2: #FFFFFF;
$orange-1: rgba(255, 125, 67, 0.85);
$orange-2: #FFBB9D;
$orange-3: rgba(255, 112, 65, 0.5);
$orange-4: #FF7041;
$orange-5: #EB723D;
$grey-1: rgba(0, 0, 0, 0.10);
$grey-2: rgba(0, 0, 0, 0.30);
$grey-3: #707070;
$grey-4: #F2F2F2;
$grey-5: #B3B3B3;
$grey-6: rgba(112, 112, 112, 0.69);
$grey-7: #7E7E7E;
$grey-8: #E2DFDF;
$grey-9: #C2C1C1;
$grey-10: #F7F8F9;
$grey-11: #525252;
$grey-12: #847979;
$light-grey-1: #D5D5D5;
$light-grey-2: #EBEBEB;
$green-1: #0AB28A;
$green-2: #0AB281;
$green-light-1: #E5FCF6;
$black-neutral: #303030;
$grey-neutral: #AAAAAA;
$white-neutral: #F4F4F4
